*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(165, 103, 103, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.wrapper{
  height: 350px;
  width: 250px;
  background-color: rgba(238, 174, 202, 0);
  border: 1.5px solid #000000;
  border-radius: 4px;
  align-self: center;
  box-shadow: 1px 4px 5px #000000;
}
.wrapper h2{
  margin-top: 13%;
  text-align: center;
  font-size: 25px;
  color: #000000;
  
}
.wrapper .value{
  color: #fff;
  font-size: 120px;
  margin-top: 8%;
  text-align: center;
}
.button1{
  margin-top: 10%;
  text-align: center;
}

.button1 .lowerCount{
  width: 40%;
  height: 29px;
  margin-right: 5px;
  background-color: #000000;
  outline: none;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid #000000;
  box-shadow: 1px 2px 5px #000000;
  cursor: pointer;
  transition: 0.3s;
}
.button1 .lowerCount:hover{
  border: 0.3px solid #fff;
}
.button1 .lowerCount:active{
  transform: translateY(0.2em);
}
 .button1 .addCount{
  width: 40%;
  height: 29px;
  margin-left: 5px;
  background-color: #000000;
  outline: none;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid #0000;
  box-shadow: 1px 2px 5px #000000;
  cursor: pointer;
  transition: 0.3s;
}
.button1 .addCount:hover{
  border: 0.3px solid #fff;
}
.button1 .addCount:active{
  transform: translateY(0.2em);
}
.button2{
  margin-top: 8%;
  text-align: center;
  
}

.button2 .reset{
  width: 40%;
  height: 29px;
  background-color: #000000;
  outline: none;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid #0000;
  box-shadow: 1px 2px 5px #000000;
  cursor: pointer;
  transition: 0.3s;
}
.button2 .reset:hover{
  border: 0.3px solid #fff;
  
}
.button2 .reset:active {
  transform: translateY(0.2em);

}
@media screen and (min-width: 500px){
  .wrapper {
    height: 600px;
    width: 500px;
    background-color: rgba(238, 174, 202, 0);
    align-self: center;
    border-radius: 5px;
    box-shadow: 2px 6px 10px #000000;
  }
  .wrapper h2 {
    margin-top: 13%;
    text-align: center;
    font-size: 45px;
    color: #000000;
  }
  .wrapper .value {
    font-size: 180px;
    margin-top: 8%;
    text-align: center;
  }
  .button1 .lowerCount{
    width: 38%;
    height: 55px;
    margin-right: 12px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #000000;
  }
  .button1 .lowerCount:hover{
    border: 0.8px solid #fff;
  }
  .button1 .addCount{
    width: 38%;
    height: 55px;
    margin-left: 12px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #000000;
  }
  .button1 .addCount:hover{
    border: 0.8px solid #fff;
  }
  .button2 .reset {
    width: 38%;
    height: 55px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #000000;
  }
  .button2 .reset:hover{
    border: 0.8px solid #fff;
  }
}
  